<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
    <link rel="shortcut icon" href="{% static 'images/friendzone2.png' %}">
    <script src="{% static 'jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.056119523628!2d76.69247711461036!3d30.71682269345137!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb713d3a3e26a89c1!2sSachTech+Solution+Pvt.+Ltd.!5e0!3m2!1sen!2sin!4v1553834616242!5m2!1sen!2sin" width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen></iframe>
    <style>
        .logo{
            border-radius:50%; 
            height:30px; 
            font-size: 25px;
        }
        .box{
            margin:5%;
            border-radius: 8px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
                    <img src="{% static 'images/friendzone2.png' %}" alt="" class="logo">
                    <a href="" class="navbar-brand">FriendZone</a>
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#mynav">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div id="mynav" class="collapse navbar-collapse">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a href="{% url 'front' %}" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">About</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center p-4" style="background:blue">
                <div class="row">
                    <div class="col-md-1 pl-2">               
                        <i class="fas fa-phone text-light ml-5" style="font-size:40px;"></i>
                    </div>
                    <div class="col-md-11">
                        <p class="text-light">+088 01673-453290</p>
                        <p class="text-light">+088 01773-458290</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center p-4" style="background:rgba(18, 1, 255, 0.7)">
                <div class="row">
                    <div class="col-md-1 pl-2">
                        <i class="fas fa-home text-light ml-3" style="font-size:40px;"></i>
                    </div>
                    <div class="col-md-11 ">
                        <p class="text-light">SachTech Solution.Pvt.Ltd.</p>
                        <p class="text-light">Phase 7, Industrial Area,Mohali</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center p-4" style="background:blue">
                <div class="row">
                    <div class="col-md-1 pl-2">               
                        <i class="fas fa-envelope text-light ml-5" style="font-size:40px;"></i>
                    </div>
                    <div class="col-md-11">
                        <p class="text-light">info@sachtechsolution.com</p>
                        <p class="text-light">friendzone@e-mail.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row box">
            <div class="col-md-12 p-5">
                <div class="row">
                    <div class="col-md-12 mb-4 text-center">
                        <h3>Leave a Message</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <input type="text" placeholder="Your name" class="mb-3 form-control">
                    </div>
                    <div class="col-md-4">
                        <input type="email" placeholder="Email" class="mb-3 form-control">
                    </div>
                    <div class="col-md-4">
                        <input type="number" placeholder="Phone number" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <textarea placeholder="Leave a message for us*" class="form-control mt-3" cols="30" rows="5"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <button class="bg-primary text-white p-2" type="submit" style="border-radius:5px; border:none; height:40px;"><h6>Send a Message</h6></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr style="background:linear-gradient(lightblue,skyblue); height:10px; border-radius: 50%;"/>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <a href=""><img src="{% static 'images/friendzone2.png' %}" class="logo" />
                    <span class="text-muted" style="font-weight:bold; font-size:30px;">FriendZone</span>
                </a>
            </div>
            <div class="col-md-2 col-sm-2 mt-3">
                <p class="text-primary">For individuals</p>
                <ul>
                    <li><a href="" class="text-muted">Sign Up</a></li>
                    <li><a href="" class="text-muted">Login</a></li>
                    <li><a href="" class="text-muted">Explore</a></li>
                    <li><a href="" class="text-muted">Finder app</a></li>
                    <li><a href="" class="text-muted">Features</a></li>
                    <li><a href="" class="text-muted">Language Setting</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-2 mt-3">
                <p class="text-primary">For businesses</p>
                <ul>
                    <li><a href="" class="text-muted">Business signup</a></li>
                    <li><a href="" class="text-muted">Business login</a></li>
                    <li><a href="" class="text-muted">Benefits</a></li>
                    <li><a href="" class="text-muted">Resources</a></li>
                    <li><a href="" class="text-muted">Advertise</a></li>
                    <li><a href="" class="text-muted">Setup</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-2 mt-3">
                <p class="text-primary">About</p>
                <ul>
                    <li><a href="" class="text-muted">About us</a></li>
                    <li><a href="" class="text-muted">Contact us</a></li>
                    <li><a href="" class="text-muted">Privacy Policy</a></li>
                    <li><a href="" class="text-muted">Terms</a></li>
                    <li><a href="" class="text-muted">Help</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3 mt-3">
                <p class="text-primary">Contact Us</p>
                <p>#C-86, Industrial Area, phase-7 Mohali, India</p>
            </div>
        </div>
    </div>
</body>
</html>