<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FriendZone</title>
    <link rel="shortcut icon" href="{% static 'images/friendzone2.png' %}">
    <script src="{% static 'jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" >    
    <link href="https://fonts.googleapis.com/css?family=Acme|Satisfy" rel="stylesheet">
    <style>
        .logo{
            border-radius:50%; 
            height:30px; 
            font-size: 25px;
        }
        .box{
            width: 100%;
            height:100px;
            background: rgba(0, 0, 255,0.5);
            border-radius: 2%;
        }
        .pill{
            background: green;
            width:100%;
            height: 40px;
            line-height: 40px;
            border-radius: 25px;
            color:white;
            padding-left: 30%;
        }
        .photo{
            border-radius: 50%;
            height:90px;
            width:90px;
            border: 7px solid white; 
            position: relative; 
            top:-20px
        }
        .online{
            border-radius: 50%;
            height:70px;
            width: 70px;
            margin-right: 10px;
            margin-bottom: 10px;
            margin-top: 10px;
            margin-left: 0 auto;
        }
        .dot{
            background: rgb(11, 247, 11);
            height: 10px;
            width: 10px;
            border-radius: 50%;
            position: relative;
            top: -17px;
            left: 30px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
                    <img src="{% static 'images/friendzone2.png' %}" alt="" class="logo">
                    <a href="" class="navbar-brand">FriendZone</a>
                    <!-- <input type="text" placeholder="Search Friends"> -->
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#mynav">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div id="mynav" class="collapse navbar-collapse">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><a href="{% url 'project:dash' %}" class="nav-link">Home</a></li>
                            <li class="nav-item"><a href="{% url 'project:find_friend' %}" class="nav-link">FindFriends</a></li>
                            <li class="nav-item"><a href="" class="nav-link"><i class="fas fa-user-friends"></i></a></li>
                            <li class="nav-item"><a href="" class="nav-link"><i class="far fa-comments"></i></a></li>                            
                            <li class="nav-item"><a href="" class="nav-link"><i class="fas fa-bell"></i></a></li>
                            <li class="nav-item"><a href="{% url 'project:basic' %}" class="nav-link"><i class="fas fa-user-cog"></i></a></li>
                            <li class="nav-item"><a href="{% url 'project:logout' %}" class="nav-link"><i class="fas fa-sign-out-alt"></i></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br/><br/><br/><br/>
            </div>
        </div>
        <div class="row ml-5">
            <div class="col-md-3" style="position: sticky;">
                <div class="row box">
                    <div class="col-md-5">
                        <img src="/media/{{profile.profile_pic}}" alt="" class="photo">
                    </div>
                    <div class="col-md-7">
                            <h5><a href="" class="text-white" >{{user.first_name}} {{user.last_name}}</a></h5>
                        <a href="" class="text-white" ><i class="ion ion-android-person-add"></i> 1,299 followers</a>
                    </div>
                </div>
                <div><br/> <br/> <br/></div>
                <div class="row">
                    <div class="col-md-12" >
                        <img src="{% static 'images/newsfeed.png' %}" alt="" style="height:20px;">&nbsp;&nbsp;&nbsp;
                        <a href="{% url 'project:time' %}" style="color:grey">Timeline</a> <hr/>
                        <img src="{% static 'images/nearby.png' %}" alt="" style="height:16px;">&nbsp;&nbsp;
                        <a href="" style="color:grey">Friends</a> <hr/>
                        <img src="{% static 'images/messages.jpg' %}" alt="" style="height:18px;">
                        <a href="" style="color:grey">Messages</a> <hr/>
                        <img src="{% static 'images/settings.png' %}" alt="" style="height:18px;">
                        <a href="{% url 'project:basic' %}" style="color:grey">Settings</a> <hr/>
                        <img src="{% static 'images/Signout.png' %}" alt="" style="height:18px;">
                        <a href="{% url 'project:logout' %}" style="color:grey">Logout</a> <hr/>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-1">
                            <img src="/media/{{profile.profile_pic}}" style="border-radius:50%; height:60px; width:60px;">
                        </div>
                        <div class="col-md-5">
                            <textarea cols="40" rows="2" class="form-control ml-2" name="content"></textarea>
                        </div>
                        <div class="col-md-3">
                            <ul class="list-inline" type = none>
                                <li><a href=""><i class="far fa-edit text-dark ml-4 mt-4" style="float:left;"></i></a></li>
                                <li>
                                    <i class="far fa-images text-dark ml-2 mt-4" style="float:left;position:relative;">
                                        <input type="file" name="media" class="form-control" style="height:10px;width:40px;position:absolute;top:0px;opacity:0.1;" >                                        
                                    </i>
                                </li>
                                <li><a href=""><i class="fas fa-video text-dark ml-2 mt-4" style="float:left;"></i></a></li>
                                <li><a href=""><i class="fas fa-map text-dark ml-2 mt-4" style="float:left;"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-primary text-white mt-2" type="submit" name="postupload" style="border-radius:25px;width:100%;"><h6>Publish</h6></button>
                        </div>
                    </div>
            </form>
                <hr class="mb-4 mt-3"/>
                {% for i in all %}
                <div class="row mb-3" style="background:whitesmoke">
                    <div class="col-md-12 mb-3 mt-3">
                        <img src="/media/{{i.media}}" alt="" style="height:400px; width:100%; background-size: cover">
                        <div class="row mt-4" >
                            <div class="col-md-2 ">
                                <img src="/media/{{profile.profile_pic}}" style="border-radius:50%; height:60px; width:60px;">                            
                            </div>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-9">
                                        <p><a href=""><span class="m-0" style="font-size:20px; font-weight: bold;">{{user.first_name}} {{user.last_name}}</span></a>
                                        &nbsp;&nbsp;<span style="color:chartreuse;">following</span></p>
                                        <p class="text-muted">{{i.upload_on}}</p>
                                    </div>
                                    <div class="col-md-3">

                                    </div>
                                </div>
                                <hr/>
                                <p class="text-muted">{{i.content}}</p>
                                <hr/>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-md-2">
                <h6 class="pill mt-2">Chat Online</h6>
                <hr class="mt-4" />
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <img src="{% static 'images/girl.jpg' %}" alt="" class="online"><div class="dot m-0"></div>
                        <img src="{% static 'images/girl1.jpg' %}" alt="" class="online"><div class="dot m-0"></div>
                        <img src="{% static 'images/boy1.jpg' %}" alt="" class="online"><div class="dot m-0"></div>
                        <img src="{% static 'images/girl2.jpg' %}" alt="" class="online"><div class="dot m-0"></div>
                        <img src="{% static 'images/girl4.jpg' %}" alt="" class="online"><div class="dot m-0"></div>
                        <img src="{% static 'images/boy2.jpg' %}" alt="" class="online"><div class="dot m-0"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr style="background:linear-gradient(lightblue,skyblue); height:10px; border-radius: 50%;"/>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <a href=""><img src="{% static 'images/friendzone2.png' %}" class="logo" />
                        <span class="text-muted" style="font-weight:bold; font-size:30px;">FriendZone</span>
                    </a>
                </div>
                <div class="col-md-2 col-sm-2 mt-3">
                    <p class="text-primary">For individuals</p>
                    <ul>
                        <li><a href="" class="text-muted">Sign Up</a></li>
                        <li><a href="" class="text-muted">Login</a></li>
                        <li><a href="" class="text-muted">Explore</a></li>
                        <li><a href="" class="text-muted">Finder app</a></li>
                        <li><a href="" class="text-muted">Features</a></li>
                        <li><a href="" class="text-muted">Language Setting</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-2 mt-3">
                    <p class="text-primary">For businesses</p>
                    <ul>
                        <li><a href="" class="text-muted">Business signup</a></li>
                        <li><a href="" class="text-muted">Business login</a></li>
                        <li><a href="" class="text-muted">Benefits</a></li>
                        <li><a href="" class="text-muted">Resources</a></li>
                        <li><a href="" class="text-muted">Advertise</a></li>
                        <li><a href="" class="text-muted">Setup</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-2 mt-3">
                    <p class="text-primary">About</p>
                    <ul>
                        <li><a href="" class="text-muted">About us</a></li>
                        <li><a href="" class="text-muted">Contact us</a></li>
                        <li><a href="" class="text-muted">Privacy Policy</a></li>
                        <li><a href="" class="text-muted">Terms</a></li>
                        <li><a href="" class="text-muted">Help</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3 mt-3">
                    <p class="text-primary">Contact Us</p>
                    <p>#C-86, Industrial Area, phase-7 Mohali, India</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>