<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <title>FriendZone</title>
    <link rel="shortcut icon" href="{% static 'images/friendzone2.png' %}">
    <script src="{% static 'jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" >
    <link href="https://fonts.googleapis.com/css?family=Acme|Satisfy" rel="stylesheet"> <style>
        .logo{
            border-radius:50%; 
            height:30px; 
            font-size: 25px;
        }
        .box{
            width: 100%;
            height:100px;
            background: rgba(0, 0, 255,0.5);
            border-radius: 2%;
        }
        .pill{
            background: green;
            width:100%;
            height: 40px;
            line-height: 40px;
            border-radius: 25px;
            color:white;
            padding-left: 30%;
        }
        .photo{
            border-radius: 50%;
            height:90px;
            width:90px;
            border: 7px solid white; 
            position: relative; 
            top:-20px
        }
        .online{
            border-radius: 50%;
            height:70px;
            width: 70px;
            margin-right: 10px;
            margin-bottom: 10px;
            margin-top: 10px;
            margin-left: 0 auto;
        }
        .dot{
            background: rgb(11, 247, 11);
            height: 10px;
            width: 10px;
            border-radius: 50%;
            position: relative;
            top: -17px;
            left: 30px;
        }
        .profile{
            border-radius:50%;
            height:100px;
            width:100px;
        }
        .friend{
            text-align: left;
        }
        @media screen and (max-width:500px){
            *{
                text-align: center !important;
                
            }
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
                    <img src="{% static 'images/friendzone2.png' %}" alt="" class="logo">
                    <a href="" class="navbar-brand">FriendZone</a>
                    <!-- <input type="text" placeholder="Search Friends"> -->
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#mynav">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div id="mynav" class="collapse navbar-collapse">
                        <ul class="navbar-nav ml-auto">
                                <li class="nav-item"><a href="{% url 'project:dash' %}" class="nav-link">Home</a></li>
                                <li class="nav-item"><a href="{% url 'project:find_friend' %}" class="nav-link">FindFriends</a></li>
                                <li class="nav-item"><a href="" class="nav-link"><i class="fas fa-user-friends"></i></a></li>
                                <li class="nav-item"><a href="" class="nav-link"><i class="far fa-comments"></i></a></li>                            
                                <li class="nav-item"><a href="" class="nav-link"><i class="fas fa-bell"></i></a></li>
                                <li class="nav-item"><a href="{% url 'project:basic' %}" class="nav-link"><i class="fas fa-user-cog"></i></a></li>
                                <li class="nav-item"><a href="{% url 'project:logout' %}" class="nav-link"><i class="fas fa-sign-out-alt"></i></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br/><br/><br/><br/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <h3 class="text-primary smal">Prabhjot Kaur</h3>
                <p class="text-muted  smal">Creative Director</p>
            </div>
            <div class="col-md-8 mt-3">
                <div class="row">
                    <div class="col-md-12 ">
                        <h4 class="text-center text-muted">People You May Know</h4>
                        <hr style="margin-top:27px;"/>
                    </div>             
                </div>
                <div class="row">
                    <div class="col-md-2 friend">
                        <img src="{% static 'images/2.jpg' %}" alt="" class="profile">
                    </div>
                    <div class="col-md-7 mt-3">
                        <h4><a href="">Hema Kalsi</a></h4>
                        <p class="text-muted m-0 ">Student at Guru Nanak Dev University,Jalandhar</p>
                        <p class="text-muted m-0">6 mutual friends</p>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary mt-4">Add Friend</button>
                    </div>
                </div>
                <hr/>
                <hr/>
                <div class="row">
                    <div class="col-md-2">
                        <img src="{% static 'images/3.jpg' %}" alt="" class="profile">
                    </div>
                    <div class="col-md-7 mt-3">
                        <h4><a href="">Komal</a></h4>
                        <p class="text-muted m-0">Student at Guru Nanak Dev University,Jalandhar</p>
                        <p class="text-muted m-0">6 mutual friends</p>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary mt-4">Add Friend</button>
                    </div>
                </div>
                <hr/>
                <hr/>
                <div class="row">
                    <div class="col-md-2">
                        <img src="{% static 'images/5.jpg' %}" alt="" class="profile">
                    </div>
                    <div class="col-md-7 mt-3">
                        <h4><a href="">Nidhi</a></h4>
                        <p class="text-muted m-0">Student at Guru Nanak Dev University,Jalandhar</p>
                        <p class="text-muted m-0">6 mutual friends</p>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary mt-4">Add Friend</button>
                    </div>
                </div>
                <hr/>
                <hr/>
                <div class="row">
                    <div class="col-md-2">
                        <img src="{% static 'images/4.jpg' %}" alt="" class="profile">
                    </div>
                    <div class="col-md-7 mt-3">
                        <h4><a href="">Tanvi</a></h4>
                        <p class="text-muted m-0">Student at Guru Nanak Dev University,Jalandhar</p>
                        <p class="text-muted m-0">6 mutual friends</p>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary mt-4">Add Friend</button>
                    </div>
                </div>
                <hr/>
                <hr/>
                <div class="row">
                    <div class="col-md-2">
                        <img src="{% static 'images/6.jpg' %}" alt="" class="profile">
                    </div>
                    <div class="col-md-7 mt-3">
                        <h4><a href="">Taran</a></h4>
                        <p class="text-muted m-0">Student at Guru Nanak Dev University,Jalandhar</p>
                        <p class="text-muted m-0">6 mutual friends</p>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary mt-4">Add Friend</button>
                    </div>
                </div>
                <hr/>
            </div>
            <div class="col-md-2">
                <h6 class="pill mt-2">Chat Online</h6>
                <hr class="mt-4" />
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <img src="{% static 'images/girl.jpg' %}" alt="" class="online"><div class="dot m-0"></div>
                        <img src="{% static 'images/girl1.jpg' %}" alt="" class="online"><div class="dot m-0"></div>
                        <img src="{% static 'images/boy1.jpg' %}" alt="" class="online"><div class="dot m-0"></div>
                        <img src="{% static 'images/girl2.jpg' %}" alt="" class="online"><div class="dot m-0"></div>
                        <img src="{% static 'images/girl4.jpg' %}" alt="" class="online"><div class="dot m-0"></div>
                        <img src="{% static 'images/girl2.jpg' %}" alt="" class="online"><div class="dot m-0"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr style="background:linear-gradient(lightblue,skyblue); height:10px; border-radius: 50%;"/>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <a href=""><img src="{% static 'images/friendzone2.png' %}" class="logo" />
                        <span class="text-muted" style="font-weight:bold; font-size:30px;">FriendZone</span>
                    </a>
                </div>
                <div class="col-md-2 col-sm-2 mt-3">
                    <p class="text-primary">For individuals</p>
                    <ul>
                        <li><a href="" class="text-muted">Sign Up</a></li>
                        <li><a href="" class="text-muted">Login</a></li>
                        <li><a href="" class="text-muted">Explore</a></li>
                        <li><a href="" class="text-muted">Finder app</a></li>
                        <li><a href="" class="text-muted">Features</a></li>
                        <li><a href="" class="text-muted">Language Setting</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-2 mt-3">
                    <p class="text-primary">For businesses</p>
                    <ul>
                        <li><a href="" class="text-muted">Business signup</a></li>
                        <li><a href="" class="text-muted">Business login</a></li>
                        <li><a href="" class="text-muted">Benefits</a></li>
                        <li><a href="" class="text-muted">Resources</a></li>
                        <li><a href="" class="text-muted">Advertise</a></li>
                        <li><a href="" class="text-muted">Setup</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-2 mt-3">
                    <p class="text-primary">About</p>
                    <ul>
                        <li><a href="" class="text-muted">About us</a></li>
                        <li><a href="" class="text-muted">Contact us</a></li>
                        <li><a href="" class="text-muted">Privacy Policy</a></li>
                        <li><a href="" class="text-muted">Terms</a></li>
                        <li><a href="" class="text-muted">Help</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3 mt-3">
                    <p class="text-primary">Contact Us</p>
                    <p>#C-86, Industrial Area, phase-7 Mohali, India</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>