<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>friendZone | Login</title>
    <link rel="shortcut icon" href="{% static 'images/friendzone2.png' %}">
    <script src="{% static 'jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Acme|Satisfy" rel="stylesheet">
    <style>
        .logo{
            border-radius:50%; 
            height:30px; 
            font-size: 25px;
        }
        .pill{
            border: 1 solid white;
            border-radius:25px;
        }
        .side{
            transform: rotateY(90deg);
        }
        .back{
            background: url("{% static 'images/friendgroup4.jpg' %}");
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="back">
        <div style="background: rgba(0,0,0,0.8)">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
                            <img src="{% static 'images/friendzone2.png' %}" alt="" class="logo">
                            <a href="" class="navbar-brand">FriendZone</a>
                            <button class="navbar-toggler" data-toggle="collapse" data-target="#mynav">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div id="mynav" class="collapse navbar-collapse">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a href="" class="nav-link">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-link">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'project:con' %}" class="nav-link">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <br/><br/><br/><br/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pt-5 text-white" >
                        <h4 class=" pt-5" style="font-family: 'Satisfy', cursive;">Connect with friends and the world around you on friendZone!!!</h4>
                        <br/>
                        <span class=" input-group" style="height:50px;">
                            <i class="far fa-images mr-4" class="input-groupprepend" style="font-size:45px;" ></i>                    
                            <strong style="line-height:30px;">See photos and updates</strong> 
                            <span style="line-height:30px;">&nbsp; from friends in News Feed.</span>
                        </span><br/>
                        <span class=" input-group" style="height:50px;">
                            <i class="fas fa-tv mr-4" class="input-groupprepend" style="font-size:45px;"></i>
                            <strong style="line-height:30px;">Share whats's new</strong>
                            <span style="line-height:30px;"> &nbsp;in your life on your Timeline.</span> 
                        </span><br/>
                        <span class=" input-group" style="height:50px;">
                            <i class="fas fa-search mr-4" class="input-groupprepend" style="font-size:45px;"></i>
                            <strong style="line-height:30px;">Find more</strong>
                            <span style="line-height:30px;"> &nbsp;of what you are looking for width friendZone Search.</span> 
                        </span><br/>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3">
                                
                            </div>
                            <div class="col-md-9 bg-white p-3" style="border-radius:2%;">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <button id="login" class="form-control" style="border:none; background:white"><h6>Login</h6></button>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <button id="signup" class="form-control" style="border:none; background:white"><h6>Sign Up</h6></button>
                                    </div>
                                    
                                </div>
                                <form id="sign" style="display:none" method="POST">
                                    {% csrf_token %}
                                    <h5 class="text-primary">Register Now!!!</h5>
                                    <p style="color:grey">Be Cool and join today. Meet milions.</p>
                                    <div class="row">
                                        <div class="col-md-6 ">
                                            <input type="text" name="First-name" placeholder="First Name" class="form-control mb-3 pill" >
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" name = "Last-name" placeholder="Last Name" class="form-control mb-3 pill">
                                        </div>
                                    </div>
                                    <input type="email" name = "Email" placeholder="Your Email" class="form-control mb-3 pill">
                                    <input type="password" name= "Password" placeholder="Password" class="form-control mb-3 pill">
                                    <h5 style="color:gray;">Date of Birth</h5>
                                    <input type="date" class=" form-control pill " name = "dob"> <br/>
                                    <h5 style="color:gray;">Gender</h5>
                                    <input type="radio" name="gender" value='Mr.'>Male &nbsp;
                                    <input type="radio" name="gender" value='Mrs.'>Female &nbsp;
                                    <input type="radio" name="gender" class="mb-3">Others &nbsp;
                                    <h6 class="text-primary mb-3"><a href="" >Already have an Account?</a></h6>
                                    <button class="btn btn-primary" type='submit' name='signupbtn' style="border-radius:25px;">Register Now</button>
                                </form>
                                <form action="{% url 'project:login' %}" method="post" id="log" >
                                    {% csrf_token %}
                                    <h4 class="text-primary mb-3">Login</h4>
                                    <h6 class="text-muted">Username</h6>
                                    <input type="email" class="form-control pill mb-3" name='Email'>
                                    <h6 class="text-muted">Password</h6>
                                    <input type="password" class="form-control pill mb-3" name='Password'>
                                    <h6 class="text-primary mb-3"><a href="" >Forgot Your Password?</a></h6>
                                    <button class="btn btn-primary" style="border-radius:25px;width: 30%">Login</button>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <br/><br/>
                            </div>
                        </div>
                        <div class="row" id="hid" >
                            <div class="col-md-12" >
                                <br/><br/><br/><br/><br/><br/>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <script>
        $(function(){
            $('#signup').click(function(){
                $('#log').hide();
                $('#sign').fadeIn(1000);
                $('#hid').hide();
            });
        });
        $(function(){
            $('#login').click(function(){
                $('#sign').hide();
                $('#log').fadeIn(1000);
                $('#hid').show();
            });
        });
    </script>
    {% if status %}
    <script>
        alert('{{status}}');
    </script>
    {% endif %}
</body>
</html>