<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit| Basic Info</title>
    <link rel="shortcut icon" href="{% static 'images/friendzone2.png' %}">
    <script src="{% static 'jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" >
    <style>
        .logo{
            border-radius:50%; 
            height:30px; 
            font-size: 25px;
        }
        .back{
            background: url("/media/{{profile.cover_pic}}");
            height:400px; 
            padding-top: 300px; 
            background-size:cover; 
            width:100%
        }
        .photo{
            height:200px; 
            width:200px; 
            border-radius:50%; 
            border: 10px solid white;
            position: relative;
            top: -90px;
        }
        .line{
            word-spacing:10px;
            line-height:70px;
        }
        .sidebar-circle{
            height:20px;
            width:20px;
            background:lightgreen;
            border-radius:50%; 
            margin:0 auto; 
            margin-top: 50px;
        }
        .sidebar-line{
            height:930px;
            width:2px;
            background:lightgreen;
            margin:0 auto
        }
        .a{
            display: inline;
        }
        .rg{
            background:rgba(0, 0, 0, 0.8);  
            height:70px; 
            text-align:center;
        }
        .buton{
            background: blue;
            border-radius:25px; 
            width:100%;
        }
        .smal{
            text-align: left;
            margin-left: 50px;
        }
        .publish{
            border-radius:25px;
            width:100%;
            position: relative;            
        }
        .len{
            width:100%;
            position: relative;
            top:0px;
        }
        .play{
            display: none !important;
        }
        .playbt{
            display: none !important;
        }
        @media screen and (max-width:700px){
            .sidebar-circle{
                background:red;
                display:none !important;
            }
            .a{
                display: none !important;
            }
            .sidebar-line{
            display:none !important;
            }
            .rg{
                background:transparent;
            }
            .buton{
                background:transparent;
            } 
            .smal{
                text-align: center;
                margin-left: 0px;
            }
            .publish{
                width:50%;
                top:-40px;
                float: right;
            }
            .len{
                width:70%;
                top:-60px;
                float: right;
                margin-right:10px;
            }
            .play{
                display: inline !important;
                margin-left: 100px;
                word-spacing: 15px;
            }
            .playbt{
                display: inline !important;
                margin-left: 20%;
                border-radius: 25px;
            }
        }
        
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
                        <img src="{% static 'images/friendzone2.png' %}" alt="" class="logo">
                        <a href="" class="navbar-brand">FriendZone</a>
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#mynav">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div id="mynav" class="collapse navbar-collapse">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><a href="{% url 'project:dash' %}" class="nav-link">Home</a></li>
                            <li class="nav-item"><a href="{% url 'project:find_friend' %}" class="nav-link">FindFriends</a></li>
                            <li class="nav-item"><a href="" class="nav-link"><i class="fas fa-user-friends"></i></a></li>
                            <li class="nav-item"><a href="" class="nav-link"><i class="far fa-comments"></i></a></li>                            
                            <li class="nav-item"><a href="" class="nav-link"><i class="fas fa-bell"></i></a></li>
                            <li class="nav-item"><a href="{% url 'project:basic' %}" class="nav-link"><i class="fas fa-user-cog"></i></a></li>
                            <li class="nav-item"><a href="{% url 'project:logout' %}" class="nav-link"><i class="fas fa-sign-out-alt"></i></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row back">
            <div class="col-md-12 rg" >
                <div class="row">
                    <div class="col-md-3">
                        <img src="/media/{{profile.profile_pic}}" class="photo">
                    </div>
                    <div class="col-md-4 line">
                        <a href="{% url 'project:time' %}" style="color:white;" class="a">Timeline</a>
                        <a href="{% url 'project:abo' %}" style="color:white;" class="a">About</a>
                        <a href="{% url 'project:alb' %}" style="color:white;" class="a">Album</a>
                        <a href="" style="color:white;" class="a">Friends</a>
                    </div>
                    <div class="col-md-3">
                        <p style="color:white;line-height: 70px; margin-left: 50px;" class="a">1,299 people following her</p>
                    </div>
                    <div class="col-md-2" style="line-height: 70px;">
                        <button class="btn btn-primary text-white m-0 a" ><h6>Add Friend</h6></button>                        
                    </div>                  
                </div>
            </div>

            <!-- copied -->

            <div class="col-sm-12 col-12 small" style="display:none">
                <img src="/media/{{profile.profile_pic}}" class="photo">                
            </div>

            <!-- end -->

        </div>
        <div class="row">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h4 class="text-primary smal">{{user.first_name}} {{user.last_name}}</h4>
                <p class="text-muted smal">Creative Director</p>
                <div class="play">
                    <a href="{% url 'project:time' %}" style="color:blue;" >Timeline</a>
                    <a href="{% url 'project:abo' %}" style="color:black;" >About</a>
                    <a href="{% url 'project:alb' %}" style="color:black;" ">Album</a>
                    <a href="" style="color:black;" >Friends</a>
                </div>
                <div style="line-height: 70px;" class="playbt">
                    <button class="btn btn-primary text-white mb-5 mt-3 playbt"><h6>Add Friend</h6></button>                        
                </div>
                <ul type="none" class="mt-5">
                    <li class="my-2" style="border-left:2px solid lightgreen;"><a href="{% url 'project:basic' %}" style="color:black"><i class="fas fa-info-circle m-2"></i><span>Basic Infomation</span></a></li><hr>
                    <li class="my-2"> <a href="{% url 'project:education' %}" style="color:black"><i class="fas fa-briefcase m-2"></i><span>Education and Work</span> </a></li><hr>
                    <li class="my-2"> <a href="{% url 'project:interest' %}" style="color:black"><i class="fas fa-heart m-2"></i><span>My Interests</span></a></li><hr>
                    <li class="my-2"> <a href="{% url 'project:account' %}" style="color:black"><i class="fas fa-sliders-h m-2"></i><span>Account Settings</span></a></li><hr>
                    <li class="my-2"> <a href="{% url 'project:password' %}" style="color:black"><i class="fas fa-lock m-2"></i><span>Change Password</span> </a></li><hr>
                </ul>
            </div>
            <div class="col-md-7">
                <i class="far fa-check-circle text-info m-2"></i><span class="text-muted m-2" style="font-size:20px">Edit basic  information</span><hr>
                <p class="text-muted">Kindly enter your details here to edit personal information and save changes in the end.</p><hr>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-6">
                            <h6>First Name</h6>
                            <div class="form-group">
                                <input type="text" name="first" value="{{user.first_name}}" placeholder="First Name" class="form-control text-muted ">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-6">
                            <h6>Last Name</h6>
                            <div class="form-group">
                                <input type="text" name="last" value="{{user.last_name}}" placeholder="Last Name"class="form-control text-muted">
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->
                    <div class="row">
                        <div class="col-md-12">
                            <h6>Username</h6>
                            <div class="form-group">
                                <input type="text" name="username" value="{{user.username}}" disabled  placeholder="My Email" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h6>My Email</h6>
                            <div class="form-group">
                                <input type="email" name="email" value="{{user.email}}" placeholder="My Email" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h6>Contact</h6>
                            <div class="form-group">
                                <input type="number" name="contact" value="{{profile.contact}}" placeholder="Contact" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 ">
                            <h6>Date of Birth</h6>
                            <div class="form-group">
                                <span>{{profile.date_of_birth}}"</span>
                                <input type="date" name="date" value="{{profile.date_of_birth}}" placeholder="Date of birth" class="form-control">
                            </div>
                        </div>
                    </div>
                    <br>   
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <span style="font-weight:bold;">I am a:</span>
                                <input type="radio" name="optradio" value="Mr." checked class="ml-4">Male 
                                <span>
                                    <input type="radio" name="optradio" value="Ms." class="ml-4">Female
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h6>My Country</h6>
                            <div class="form-group">
                                <select name="" id="country" class="form-control" onchange="getState()">
                                    <option value="">Your Country</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h6>My State </h6>
                            <div class="form-group">
                                <select name="" id="state" class="form-control" onchange="getCity()">
                                    <option value="">Your State</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h6>My City</h6>
                            <div class="form-group">
                                <select name="" id="city" class="form-control">
                                    <option value="">Your City</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h6>About Me</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <textarea name="about" id="" cols="30" rows="3" class="form-control mb-4"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for=""><h6>Change Profile Photo: &nbsp;</h6></label>
                            <input type="file"  name='image' value="Upload Profile Pic" >
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for=""><h6>Change Cover Photo: &nbsp;&nbsp;</h6></label>
                            <input type="file" name='image1' value="Upload Cover Pic">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-block btn-primary mt-3 form-control" type="submit" value="Save Changes" style="border-radius:40px">Save Changes</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2" >
                <p class="text-muted" >{{user.first_name}} {{user.last_name}} Activity</p>
                {% for i in act %}
                <!-- <p class="text-muted mb-1" style="border-left:2px solid green;"><a href="" class="text-primary" >{{i.user.user.first_name}}</a></p> -->
                <p class="text-muted" style="border-left:2px solid green;">{{i.content}}</p>
                <p class="text-muted">{{i.time}}</p>
                <hr/>
                {% endfor %}
            </div> 
        </div>
    </div>
    <hr style="background:linear-gradient(lightblue,skyblue); height:10px; border-radius: 50%;"/>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <a href=""><img src="{% static 'images/friendzone2.png' %}" class="logo" />
                        <span class="text-muted" style="font-weight:bold; font-size:30px;">FriendZone</span>
                    </a>
                </div>
                <div class="col-md-2 col-sm-2 mt-3">
                    <p class="text-primary">For individuals</p>
                    <ul>
                        <li><a href="" class="text-muted">Sign Up</a></li>
                        <li><a href="" class="text-muted">Login</a></li>
                        <li><a href="" class="text-muted">Explore</a></li>
                        <li><a href="" class="text-muted">Finder app</a></li>
                        <li><a href="" class="text-muted">Features</a></li>
                        <li><a href="" class="text-muted">Language Setting</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-2 mt-3">
                    <p class="text-primary">For businesses</p>
                    <ul>
                        <li><a href="" class="text-muted">Business signup</a></li>
                        <li><a href="" class="text-muted">Business login</a></li>
                        <li><a href="" class="text-muted">Benefits</a></li>
                        <li><a href="" class="text-muted">Resources</a></li>
                        <li><a href="" class="text-muted">Advertise</a></li>
                        <li><a href="" class="text-muted">Setup</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-2 mt-3">
                    <p class="text-primary">About</p>
                    <ul>
                        <li><a href="" class="text-muted">About us</a></li>
                        <li><a href="" class="text-muted">Contact us</a></li>
                        <li><a href="" class="text-muted">Privacy Policy</a></li>
                        <li><a href="" class="text-muted">Terms</a></li>
                        <li><a href="" class="text-muted">Help</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3 mt-3">
                    <p class="text-primary">Contact Us</p>
                    <p>#C-86, Industrial Area, phase-7 Mohali, India</p>
                </div>
            </div>
        </div>
    </footer>
    <script>
        $(function(){
            $.ajax({
                url:'http://stsmentor.com/locationapi/locationApi.php?type=getCountries',
                type:'get',
                success:function(data){
                    let c='';
                    data.result.forEach(element => {
                        for (i in element){
                            c += '<option value="'+i+'">'+element[i]+'</option>'
                        }
                    });
                    $('#country').html(c)
                }
            });
        });
        function getState(){
            let cont_id = $('#country').val()
            $.ajax({
                url:'http://stsmentor.com/locationapi/locationApi.php?type=getStates&countryId='+cont_id,
                type:'get',
                success:function(data){
                    let st = ' ';
                    data.result.forEach(kv => {
                        for (k in kv){
                            st += '<option value="'+k+'">'+kv[k]+'</option>'
                        }
                    });
                    $('#state').html(st)
                }
            });
        }
        function getCity(){
            let state_id = $('#state').val()
            $.ajax({
                url:'http://stsmentor.com/locationapi/locationApi.php?type=getCities&stateId='+state_id,
                type:'get',
                success:function(data){
                    let ct = ' ';
                    data.result.forEach(jl => {
                        for (j in jl){
                            ct += '<option value="'+j+'">'+jl[j]+'</option>'
                        }
                    });
                    $('#city').html(ct)
                }
            });
        }
    </script>
</body>
</html>